<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <link rel="stylesheet" href="newproj.css">
<title>
  Men clothes
</title>
  </head>
  <body>
<h1 class="bestdeal">
  Best Deals found!
</h1> <button onclick="location.href='http://127.0.0.1:5500/newproj.html'" class="backtohomepage">Back to homepage</button>
<div class="menclothesgrid">
 <div>
  <img class="mencloth" src="picsandlogos/7.webp">
    <div class="priceflex">
      <h2 Class="price">
        Price: 1224 PKR
      </h2>
      <p class="detail-item" >
        length: 200x34
      </p>
      <p class="detail-item">
        size available: XXL XL S M
      </p>
      <p class="order-now">Order Now on Whatsapp</p>
      <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
    </div></div>

    <div>
      <img class="mencloth" src="picsandlogos/7.webp">
        <div class="priceflex">
          <h2 Class="price">
            Price: 1224 PKR
          </h2>
          <p class="detail-item" >
            length: 200x34
          </p>
          <p class="detail-item">
            size available: XXL XL S M
          </p>
          <p class="order-now">Order Now on Whatsapp</p>
          <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
        </div></div>

        
        <div>
          <img class="mencloth" src="picsandlogos/7.webp">
            <div class="priceflex">
              <h2 Class="price">
                Price: 1224 PKR
              </h2>
              <p class="detail-item" >
                length: 200x34
              </p>
              <p class="detail-item">
                size available: XXL XL S M
              </p>
              <p class="order-now">Order Now on Whatsapp</p>
              <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
            </div></div>

            


            <div>
              <img class="mencloth" src="picsandlogos/7.webp">
                <div class="priceflex">
                  <h2 Class="price">
                    Price: 1224 PKR
                  </h2>
                  <p class="detail-item" >
                    length: 200x34
                  </p>
                  <p class="detail-item">
                    size available: XXL XL S M
                  </p>
                  <p class="order-now">Order Now on Whatsapp</p>
                  <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                </div></div>

                


                <div>
                  <img class="mencloth" src="picsandlogos/7.webp">
                    <div class="priceflex">
                      <h2 Class="price">
                        Price: 1224 PKR
                      </h2>
                      <p class="detail-item" >
                        length: 200x34
                      </p>
                      <p class="detail-item">
                        size available: XXL XL S M
                      </p>
                      <p class="order-now">Order Now on Whatsapp</p>
                      <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                    </div></div>

                    


                    <div>
                      <img class="mencloth" src="picsandlogos/7.webp">
                        <div class="priceflex">
                          <h2 Class="price">
                            Price: 1224 PKR
                          </h2>
                          <p class="detail-item" >
                            length: 200x34
                          </p>
                          <p class="detail-item">
                            size available: XXL XL S M
                          </p>
                          <p class="order-now">Order Now on Whatsapp</p>
                          <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                        </div></div>

                        


                        <div>
                          <img class="mencloth" src="picsandlogos/7.webp">
                            <div class="priceflex">
                              <h2 Class="price">
                                Price: 1224 PKR
                              </h2>
                              <p class="detail-item" >
                                length: 200x34
                              </p>
                              <p class="detail-item">
                                size available: XXL XL S M
                              </p>
                              <p class="order-now">Order Now on Whatsapp</p>
                              <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                            </div></div>

                            


                            <div>
                              <img class="mencloth" src="picsandlogos/7.webp">
                                <div class="priceflex">
                                  <h2 Class="price">
                                    Price: 1224 PKR
                                  </h2>
                                  <p class="detail-item" >
                                    length: 200x34
                                  </p>
                                  <p class="detail-item">
                                    size available: XXL XL S M
                                  </p>
                                  <p class="order-now">Order Now on Whatsapp</p>
                                  <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                                </div></div>

                                


                                <div>
                                  <img class="mencloth" src="picsandlogos/7.webp">
                                    <div class="priceflex">
                                      <h2 Class="price">
                                        Price: 1224 PKR
                                      </h2>
                                      <p class="detail-item" >
                                        length: 200x34
                                      </p>
                                      <p class="detail-item">
                                        size available: XXL XL S M
                                      </p>
                                      <p class="order-now">Order Now on Whatsapp</p>
                                      <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                                    </div></div>

                                    

                                    <div>
                                      <img class="mencloth" src="picsandlogos/7.webp">
                                        <div class="priceflex">
                                          <h2 Class="price">
                                            Price: 1224 PKR
                                          </h2>
                                          <p class="detail-item" >
                                            length: 200x34
                                          </p>
                                          <p class="detail-item">
                                            size available: XXL XL S M
                                          </p>
                                          <p class="order-now">Order Now on Whatsapp</p>
                                          <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                                        </div></div>

                                        


                                        <div>
                                          <img class="mencloth" src="picsandlogos/7.webp">
                                            <div class="priceflex">
                                              <h2 Class="price">
                                                Price: 1224 PKR
                                              </h2>
                                              <p class="detail-item" >
                                                length: 200x34
                                              </p>
                                              <p class="detail-item">
                                                size available: XXL XL S M
                                              </p>
                                              <p class="order-now">Order Now on Whatsapp</p>
                                              <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                                            </div></div>

                                            


                                            <div>
                                              <img class="mencloth" src="picsandlogos/7.webp">
                                                <div class="priceflex">
                                                  <h2 Class="price">
                                                    Price: 1224 PKR
                                                  </h2>
                                                  <p class="detail-item" >
                                                    length: 200x34
                                                  </p>
                                                  <p class="detail-item">
                                                    size available: XXL XL S M
                                                  </p>
                                                  <p class="order-now">Order Now on Whatsapp</p>
                                                  <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                                                </div></div>

                                                

                                                <div>
                                                  <img class="mencloth" src="picsandlogos/7.webp">
                                                    <div class="priceflex">
                                                      <h2 Class="price">
                                                        Price: 1224 PKR
                                                      </h2>
                                                      <p class="detail-item" >
                                                        length: 200x34
                                                      </p>
                                                      <p class="detail-item">
                                                        size available: XXL XL S M
                                                      </p>
                                                      <p class="order-now">Order Now on Whatsapp</p>
                                                      <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                                                    </div></div>

                                                    
                                                    <div>
                                                      <img class="mencloth" src="picsandlogos/7.webp">
                                                        <div class="priceflex">
                                                          <h2 Class="price">
                                                            Price: 1224 PKR
                                                          </h2>
                                                          <p class="detail-item" >
                                                            lenght: 200x34
                                                          </p>
                                                          <p class="detail-item">
                                                            size available: XXL XL S M
                                                          </p>
                                                          <p class="order-now">Order Now on Whatsapp</p>
                                                          <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                                                        </div></div>

                                                        
                                                        <div>
                                                          <img class="mencloth" src="picsandlogos/7.webp">
                                                            <div class="priceflex">
                                                              <h2 Class="price">
                                                                Price: 1224 PKR
                                                              </h2>
                                                              <p class="detail-item" >
                                                                lenght: 200x34
                                                              </p>
                                                              <p class="detail-item">
                                                                size available: XXL XL S M
                                                              </p>
                                                              <p class="order-now">Order Now on Whatsapp</p>
                                                              <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                                                            </div></div>

                                                            

                                                            <div>
                                                              <img class="mencloth" src="picsandlogos/7.webp">
                                                                <div class="priceflex">
                                                                  <h2 Class="price">
                                                                    Price: 1224 PKR
                                                                  </h2>
                                                                  <p class="detail-item" >
                                                                    lenght: 200x34
                                                                  </p>
                                                                  <p class="detail-item">
                                                                    size available: XXL XL S M
                                                                  </p>
                                                                  <p class="order-now">Order Now on Whatsapp</p>
                                                                  <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                                                                </div></div>

                                                                
                                                                <div>
                                                                  <img class="mencloth" src="picsandlogos/7.webp">
                                                                    <div class="priceflex">
                                                                      <h2 Class="price">
                                                                        Price: 1224 PKR
                                                                      </h2>
                                                                      <p class="detail-item" >
                                                                        lenght: 200x34
                                                                      </p>
                                                                      <p class="detail-item">
                                                                        size available: XXL XL S M
                                                                      </p>
                                                                      <p class="order-now">Order Now on Whatsapp</p>
                                                                      <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">+3722237718</p></div>
                                                                    </div></div>
                                                                
</div>
  </body>

</html>